/* =-=-=-=Header=-=-=-=-=- */

.header{
    z-index: 9999;
    position: fixed;
    background: #1875b7;
    height: 80px;   
    width: 100%;
    color: white;
}
.header > .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    
}
.row-header{
    height: 80px;
}
/* .row-header > .col-2{
    border-right: 1px solid black;
} */

.icon-marketing{
    margin-right: 7px!important;
    float: left;
    background: url(../img/marketing-icons.png) 0 0 no-repeat;
    width: 33px;
    height: 27px;
    margin: 0 13px;
}

.title{
    padding-top: 1px;
    padding-left: 7px;
    margin-bottom: 0px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.row-header a{
    text-decoration: none;
    float: right;
}
/* 2 */
/* .search{
    padding-left: 25px;
} */
/* .search input,
.search input:focus{
    width: 400px;
    height: 35px;
    background:url('../img/search.png') 95% 50% no-repeat #3b9bdd;
    border: 1px solid #005b9a;
    background-size: contain;
    cursor: pointer;
    border-radius: 0px;
} */
/* 3 */
.btn-log-in{
    text-decoration: none;
    width: 136px;
    height: 42px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    line-height: 18px;
    border-radius: 2px;
    display: block;
    text-align: center;
    padding: 11px 45px;
    float: left;
    margin-right: 20px;
}
.btn-log-in:hover{
    text-decoration: none;
    background: white;
    color: #005b9a;
}
.btn-create-account{
    text-decoration: none;
    width: 203px;
    height: 42px;
    border: 1px solid white;
    color: #005b9a;
    font-size: 16px;
    line-height: 18px;
    border-radius: 2px;
    display: block;
    text-align: center;
    padding: 11px 45px;
    background: white;
    float: left;
}
.btn-create-account:hover{
    text-decoration: none;
    background: #3b9bdd;
    color: white;
}
.btn-home, .btn-home:hover{
    color: white;
    float: left;
    padding-right: 20px;
    padding-top: 10px; 
}

/**
 * Стили для выпадающего списка языков в шапке
 */
.lang-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #1875b7;
    padding: 20px;
    display: none;
}

.lang-item{
    list-style: none;
}

.lang-item a img{
    width: 40px;
    padding-top: 20px;
}
.logo{
    height: 80px;
    border-right: 1px solid black;
}
.logo a {
    width: 100%;
}
.logo:hover{
    background: #005c9b;
}
.language{
    height: 80px;
    border-left: 1px solid black;
}
.language:hover{
    background: #005c9b;
}
.language ul {
    padding-top: 7px;
    padding-left: 0px;
    
}
.language ul li {
    padding-left: 30px;
}
.search input,
.search input:focus{
    width: 100%;
    height: 35px;
    background:url('../img/search.png') 95% 50% no-repeat #3b9bdd;
    border: 1px solid #005b9a;
    background-size: contain;
    cursor: pointer;
    border-radius: 0px;
}
/* =-=-=-=/Header=-=-=-=-= */
@media /*(min-width: 1025px) and */(max-width: 1366px) {
    .btn-log-in{
        display: none!important;
    }  
}
@media /*(min-width: 1025px) and */(max-width: 1024px) {
    .btn-create-account{
        display: none!important;
    }  
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .search input {
        width: 270px;
    } 
}
@media (max-width: 640px) {
    .logo{
        border: 0;     
    }

    .search-block,
    .language,
    .btn-group,
    .btn-home{
        display: none;
    }
}