/* @media (max-width: 575.98px) {
    .doc-links li{
        font-size: 16px;
        padding: 25px 10px 25px 0;
        display: inline-block;
    }
    .social{
        padding: 0 0 20px 0;
    }
   
 }

@media (min-width: 576px) and (max-width: 767.98px) {
    .doc-links li{
        font-size: 16px;
        padding: 25px 10px 25px 0;
        display: inline-block;
    }
    .social{
        padding: 0 0 20px 0;
    }

 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .doc-links li{
        font-size: 16px;
        padding: 25px 10px 25px 0;
        display: inline-block;
    }
    .social{
        padding: 0 0 20px 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .doc-links li{
        font-size: 16px;
        padding: 0px 8px 0px 5px;
        display: inline-block;
        border-right: 1px solid #80808069;
    }
    
    .social{
        padding: 0 0 0 0;
    }

 }
   
@media (min-width: 1200px) { 
    .doc-links li{
        font-size: 14px;
        padding-right: 10px;
        margin-right: 10px;
        display: inline-block;
        border-right: 1px solid #80808069;
    }
    .menu-item{
        width: 100%;
    }
    .fxpro_menu{
        width: 100%;
    }
    .social > .col-xl-1{
        padding: 0px;
    }

 }
@media (max-width: 1366px) {
    .btn-log-in{
        display: none!important;
    }  
} 
@media (max-width: 1025px) {
    .btn-create-account{
        display: none!important;
    } 
    .search input,
    .search input:focus{
        width: 340px;
        height: 35px;
        background:url('../img/search.png') 95% 50% no-repeat #3b9bdd;
        border: 1px solid #005b9a;
        background-size: contain;
        cursor: pointer;
        border-radius: 0px;
    }  
}
 @media (max-width: 640px) {
    .languages, .btn-home{
        display: none!important;
 }   */

 /* @media (min-width: 575px) and (max-width: 640px) {
    .btn-log-in{
        display: none!important;
    }  
    .btn-create-account{
        display: none!important;
    } 
 }
 @media (min-width: 641px) and (max-width: 1024px) {
    .btn-log-in{
        display: none!important;
    }  
    .btn-create-account{
        display: none!important;
    } 
}
@media (min-width: 1025px) and (max-width: 1366px) {
    .btn-log-in{
        display: none!important;
    }  
} */

 .search input,
 .search input:focus{
    width: 400px;
    height: 35px;
    background:url('../img/search.png') 95% 50% no-repeat #3b9bdd;
    border: 1px solid #005b9a;
    background-size: contain;
    cursor: pointer;
    border-radius: 0px;
}
 
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

body{
    color: #798188;
    background: #f4f6f7;
 }

/* =-=-=-=Footer=-=-=-=-= */
.doc-links li:hover{
    color:#EC1C29;
}
.social a {
    color: #dfe2e2;
}
.social div{
    font-size: 20px;
}
.social a:hover{
    color: #005b9a;
}
.doc-links{
    padding: 0;
    list-style: none;
    margin: 0;
}
.doc-links li{
    width: 33%;
    display: inline;
    padding-right: 10px;
    border-right: 1px solid #798188;
    margin-right: 10px;
}
.doc-links a{
    color: #798188;
    font-size: 14px;
     
}
.doc-links a:hover{
    color: #EC1C29;
}

.doc-links li:last-child{
    border-right: none;
}

.copyright{
    padding: 18px 0 18px 0;
    border-top: 1px solid #80808069;
    border-bottom: 1px solid #80808069;
    margin-bottom: 25px;
}
.a, a:hover{
    color: black;
    text-decoration: none;
}

.info{
    padding: 0 0 33px;
    font: 13px/1.2em Arial, Helvetica, sans-serif;
    color: #636a6f;
}
.info_3{
    padding: 0 0 33px;
    font: 13px/1.2em Arial, Helvetica, sans-serif;
    color: #636a6f;
}
.info_2_1{
    display: block;
    padding-bottom: 28px;
    color: #000;
    font-size: 18px;
    line-height: 26px;
}
.info_3{
    font: 12px/20px Arial, Helvetica, sans-serif;
    color: #636a6f;
}
.info_3 strong{
    font-weight: 600;
    color: #000;
}
.flag-content{
    margin: 0 0 33px;
    font: 13px/1.2em Arial, Helvetica, sans-serif;
    color: #636a6f;
}
/* Flag footer */
.uk{
    width: 30px;
    height: 30px;
    background: url('../img/flag/uk.png')50% 50% no-repeat; 
}

.dubai{
    width: 30px;
    height: 30px;
    background: url('../img/flag/dubai.png') 50% 50% no-repeat; 
}

.eu{
    width: 30px;
    height: 30px;
    background: url('../img/flag/europe.png') 50% 50% no-repeat; 
}

.bs{
    width: 30px;
    height: 30px;
    background: url('../img/flag/bs.png') 50% 50% no-repeat; 
}
.flag{
    background-size: contain;
}
.copyright div:nth-child(1)>span:nth-child(1){
    border-right: 1px solid grey;
    padding-right: 1%
}
/* =-=-=-=/Footer=-=-=-=-= */
/* =-=-=-=Menu=-=-=-=-= */
.fxpro_menu{
    background: #f4f6f7;
    width: 328px;
    
}
.content > .container-fluid:nth-child(1){
    padding-left: 0;
}
.myMenu{
    margin-top: 80px;
    list-style-type: none;
    padding-left: 0px;
    background: #f4f6f7;
}
.myMenu > .menu-item{
    /* width: 328px; */
    height: 80px;
    border-bottom: 1px  solid #E6EBEF;
    border-right: 1px  solid #E6EBEF;
    border-left: 10px solid #ffffff00;
    
}
.myMenu > .menu-item:hover{
    width: 100%;
    height: 80px;
    border-bottom: 1px  solid #E6EBEF;
    border-right: 1px  solid #E6EBEF;
    border-left: 10px solid #3b9bdd;
}
.myMenu > .menu-item > a, .myMenu > .menu-item > a:hover {
    padding: 25px 0 0 7px;
    position: absolute;
    color: #1ca7dc;
}
.myMenu .menu-image-title{
    padding-left: 15px;
}
/* Sub menu */
.sub-menu{
    display: none;
}
.current-menu-item .sub-menu {
    top: 80px;
    border-left: 5px solid #5baae2;
    position: absolute;
    background: white;
    margin-left: 70px;
    padding-left: 0;
    height: 90vh;
    z-index: 8888;
    display: block;
}
.sub-menu > .menu-item{
    width: 200px;
    height: 40px;
    list-style-type: none;
    font-size: 12px;
    background: #fff;
   /* border-left: 7px solid #5baae2;*/
    border-right: 1px solid #E6EBEF;
    border-bottom: 1px solid #E6EBEF;
}
.sub-menu .menu-image-title{
    color: #000;
}
.sub-menu .menu-image-title {
    position: absolute;
    padding: 10px 0 0 10px;
}

.myMenu:hover .current-menu-item .sub-menu{
    opacity: 0;
    -webkit-transition: all 0.5ms linear 0.5ms;
    -moz-transition: all 0.5ms linear 0.5ms;
    -o-transition: all 0.5ms linear 0.5ms;
    transition: all 0.5ms linear 0.5ms;
}

.myMenu:hover .current-menu-item .sub-menu:hover{
    display: block;
    opacity: 1;
    -webkit-transition: all 0.5ms linear 0.5ms;
    -moz-transition: all 0.5ms linear 0.5ms;
    -o-transition: all 0.5ms linear 0.5ms;
    transition: all 0.5ms linear 0.5ms;
}

.myMenu .current-menu-item{
    border-left: 10px solid #5baae2;
}
.sub-menu .current-menu-item,
.sub-menu .menu-item:hover{
    border-left: 7px solid #5baae2;
}
/* =-=-=-=/Menu=-=-=-=-= */
/* =-=-=-=Content=-=-=-=-= */
.content{
    background: white;
}

.dynamic-content{
    margin-top: 80px;
}

/* Launch Links */
.title_page{
    font: 1.875em/1.07em Georgia, serif;
    color: #3c9bde;
    display: block;
    margin: 1em 0 0 0;
    padding: 0 0 1em;
    float: none;
}
.launchLinksTextarea{
    border: 1px solid #e6ebef;
    background: #fff;
    width: 102%;
    height: 80px;
    padding: 2%;
    font: 12px/14px Arial,Helvetica,sans-serif;
    color: #788087;
    resize: none;
    margin: 0 0 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ll_links_title{
    font: 20px/22px Georgia,serif;
    color: #3b9bdd;
}
.ll_links_header{
    display: block;
    font: 14px/16px Arial,Helvetica,sans-serif;
    color: #000;
    margin: 0 0 18px;
}

/* =-=-=-=/Content=-=-=-=-= */
.marketing-title{
    font: 1.875em/1.07em Georgia, serif;
    color: #3c9bde;
    display: block;
    margin: 1em 0 0 0;
    padding: 0 0 1em;
    float: none;
}
.dynamic-content p {
    margin: 0;
    padding: 0 0 18px;
    font: 0.875em/1.43em Arial, Helvetica, sans-serif;
}
/* Welcome page */
.carouselWelcomPage{
    border: 1px solid #E6EBEF;
}

.see {
    text-decoration: none;
    color: #EC1C29;
    font: 0.5em/3em Arial, Helvetica, sans-serif;
    margin: 0 0 0 10px;
}
.see:hover {
    text-decoration: underline;
    color: #EC1C29;
    font: 0.5em/3em Arial, Helvetica, sans-serif;
    margin: 0 0 0 10px;
}
/* Logos page */
.button_gray {
    float: left;
    width: auto;
    margin: 0 15px 0 0;
    padding: 0 5px;
    font: 14px/25px Arial,Helvetica,sans-serif;
    color: #788087;
    background: #f8fcff;
    border: 1px solid #b0bac2;
    text-decoration: none;
    text-align: center;
}
.sub-title{
    font: 1.500em/1.08em Georgia,serif;
    display: block;
    color: #000;
    padding: 0 0 1.5em;
    margin: 0;
    float: none;
}
.col-title{
    font: normal 14px/16px Arial,Helvetica,sans-serif;
    color: #000;
    display: block;
}
.lang-flag{
  padding-top: 25px;
  padding-left: 35%;
}